body {
  font-family: "Segoe UI";
  background-color: #f9f9f9;
  padding: 40px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

caption {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: left;
}

th,
td {
  padding: 12px 16px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #3aa34f;
  color: white;
}

tr:hover {
  background-color: #f1f1f1;
}
/* css nút quay lại */
.back-button {
  margin: 20px;
  text-align: left;
}

.back-button a {
  padding: 10px 20px;
  background-color: #3aa34f;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.back-button a:hover {
  background-color: #48e45b; /* Màu khi rê chuột */
}
